{% extends 'main/base.html' %}

{% block title %} Administration {% endblock %}

{% block content %}

<h1> Administration </h1>

<div class="form-group">
    <form method="get" action="#">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="livre" class="form-control" id="InputLivre" aria-describedby="Livre" placeholder="Livre">
            <div class="input-group-prepend">
                <button type="submit", name="search", value="search", class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>


<h3> Résultat </h3>
<ul class="list-group">
{% if liste_livres|length > 0 %}
    {% for livres in liste_livres %}
            <li class="elements">{{livres}} 
                <button type="submit" class="btn btn-primary" name="modifier">Modifier</button>
                <button type="submit" class="btn btn-danger" name="modifier">Supprimer</button></li>
    {% endfor %}
{% else %}
    Aucun résultat trouvé.
{% endif %}
</ul>

{% endblock %}