<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{% block title %}{{organisation_name}}{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/BiblioLexicus/Design/main/Logo_Header_ICO.ico">
</head>
{% block background %}
{% endblock %}

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <a class="navbar-brand" href="/">{{organisation_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Recherche">Recherche Avancée</a>
            </li>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Librairie
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="/librairie/1">Librairie 1</a></li>
                  </ul>
                </li>
              </ul>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login/Logout</a>
            </li>
        </ul>
    </div>
    {% if request.path != "/" %}
    <form class="form-inline my-2 my-lg-0 mx-auto">
        <div class="input-group mb-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
            <div class="input-group-prepend">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
            </div>
        </div>
    </form>
    {% endif %}
</nav>

<div id="content" name="content">
    <div class="row">
        <div class="col-8">
            <hr class="m-0 mb-4">
            {% block content %}
            <p>
                Top 10 items du mois | Top 10 items pour toi
            </p>
            {% if not user.is_authenticated %}
            <p>
                Login <a href="login/">here</a>
            </p>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>