{% extends 'main/base.html/' %}

{% block title %} {{item_name}} {% endblock %}


{% block content %}
<div class="container-fluid">
     <div class="col-sm-10">
        <img src="{{item_img}}">

         <div>
             <h2>{{item_name}}</h2>
             <h3>{{item_author}}</h3>
             <p>
                 {{item_res}}
             </p>
         </div>

         <div>
             <!--- >Disponibilites<-->
         </div>
     </div>
    <div class="col-sm-2">
        <h4>{{item_edition}}</h4>
        <h5>{{item_publisher}}</h5>
    </div>

    <div>
        <!--- >Ratings< -->
    </div>
</div>
{% endblock %}
