{% extends 'main/base.html' %}

{% block title %} Profil {% endblock %}

{% block content %}

    <ul>
        <li>Nom: {{second_name}}</li>
        <li>Prénom: {{first_name}}</li>
        <li>Adresse: {{adress}}</li>
        <li>Cell: {{phone_number}}</li>
        <li>Date d'expiration: {{expiration_date}}</li>
    </ul>

    <div>
        <h2> Liste livres empruntés </h2>
            <ul>
                {% for livre in liste_emprunts %}
                    <li>{{livre}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}